{{$slugSuffix := "WithSlug"}}
{{$syncSuffix := "SyncWithSlug"}}
{{$slugMeta := .Base.GetMeta (print .Meta.Name "WithSlug") }}
{{$slugValue := (value_of .Result $slugMeta).Slug}}

<div class="qor-field" data-sluggable="true">
  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield qor-textfield--static-label">
    <input class="mdl-textfield__input" data-sluggable-role="source" type="text" id="{{.InputId}}" name="{{.InputName}}" {{if .Value}}value="{{.Value}}"{{end}} {{if not (has_update_permission .Meta)}}disabled{{end}}>
    <label class="mdl-textfield__label" for="{{.InputId}}">{{dt (printf "%v.attributes.%v" .Base.ToParam .Label) .Label}}</label>
  </div>

  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield qor-textfield--static-label">
    <input class="mdl-textfield__input" data-sluggable-role="slug" type="text" id="{{.InputId}}{{$slugSuffix}}" name="{{.InputName}}{{$slugSuffix}}" {{if $slugValue}}value="{{$slugValue}}"{{end}} {{if not (has_update_permission $slugMeta)}}disabled{{end}}>
  </div>

  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{.InputId}}{{$syncSuffix}}">
    <input type="checkbox" id="{{.InputId}}{{$syncSuffix}}" class="mdl-checkbox__input" data-sluggable-role="sync" value="true" type="checkbox" {{if is_new_record .Result}}checked{{end}} {{if not (has_update_permission $slugMeta)}}disabled{{end}}>
    <span class="mdl-checkbox__label">{{t "Sync"}}</span>
  </label>
</div>
