.qor-slug{
    .mdl-grid {
      padding: 0;
      .mdl-cell {
            margin-left: 0;
            margin-right: 16px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .qor-slug-actions {
      padding: 20px 0;
    }
}